<div class="container pt-3">
	<h1 class="mb-4 text-center font-family-fantasy">Comunicate con Nosotros</h1>

	<div class="row">
		<div class="container card w-auto col-md-3 col-12">
			<div class="py-4 text-center">
				<!-- <div class="">
					<a class="text-decoration-none" href="">
						<li class="fa fa-facebook-square fa-5x ml-2"></li>
						<h5 class="pt-3">Nuestro Facebook</h5>
						<h6>elias.barrientos.7</h6>
					</a>
				</div> -->
				<div class="">
					<a class="text-decoration-none" href="">
						<li class="fa fa-twitter-square fa-5x ml-2"></li>
						<h5 class="pt-3">Nuestro Twitter</h5>
						<h6>#proyecto.2024</h6>
					</a>
				</div>
				<div class="">
					<a class="text-decoration-none" target="_blank">
						<li class="fa fa-instagram fa-5x ml-2"></li>
						<h5 class="pt-3">Nuestro Instagram</h5>
						<h6>proyecto.2024</h6>
					</a>
				</div>
			</div>
		</div>

		<div class="container card w-auto col">
			<div class="py-5 text-center row">
				<div class="col">
					<div class="row justify-content-center">
						<div class="col-md-3 col-12">
							<a class="text-decoration-none" href="mailto:ejemplo@gmail.com">
								<li class="fa fa-envelope fa-5x ml-2 mt-3"></li>
								<h5 class="pt-3">e-mail</h5>
								<h6>ejemplo@gmail.com</h6>
							</a>
						</div>

						<div class="col-md-3 col-12">
							<a class="text-decoration-none" href="tel:+5804125500167">
								<li class="fa fa-address-book fa-5x ml-2 mt-3"></li>
								<h5 class="pt-3">Datos de Contacto</h5>
								<h6>+4142398425</h6>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>