<div class="pt-md-4 px-md-3 px-2 pt-4" id="category">
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
		  <h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<h5 class="fw-bold">Modulos</h5>
			</button>
		  </h2>
		  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<div class="row">
					<div class="col-md-3 col-12 p-3">
						<div role="button" routerLink="/home/diagnostico" class="size-fx-move fondo-comida rounded text-center centered-block position-relative" style="height: 25vh;" (click)="searchCategory('Comida')" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="height-icons centered-block">
								<i class="fa fa-thermometer-full fa-3x"></i>
							</span>
							<span class="h5" style="position: absolute; bottom: 0px; left: 10px;color: white;">Diagnosticos</span>
						</div>
					</div>
					<div class="col-md-3 col-12 p-3">
						<div role="button" routerLink="/home/estadistica" class="size-fx-move fondo-tecnologia rounded text-center centered-block position-relative" style="height: 25vh;" (click)="searchCategory('Tecnología')" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="height-icons centered-block">
								<i class="fa fa-bar-chart fa-3x"></i>
							</span>
							<span class="h5" style="position: absolute; bottom: 0px; left: 10px;color: white;">Estadistica</span>
						</div>
					</div>
					<div class="col-md-3 col-12 p-3">
						<div role="button" routerLink="/home/sangre" class="size-fx-move fondo-ropa rounded text-center centered-block position-relative" style="height: 25vh;" (click)="searchCategory('Ropa y Calzados')" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="height-icons centered-block">
								<i class="fa fa-tint fa-3x"></i>
							</span>
							<span class="h5" style="position: absolute; bottom: 0px; left: 10px;color: white;">Tipos de Sangre</span>
						</div>
					</div>
					<div class="col-md-3 col-12 p-3">
						<div role="button" (click)="refrescar()" class="size-fx-move fondo-hogar rounded text-center centered-block position-relative" style="height: 25vh;" (click)="searchCategory('Hogar')" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="height-icons centered-block">
								<i class="fa fa-home fa-4x"></i>
							</span>
							<span class="h5" style="position: absolute; bottom: 0px; left: 10px;color: white;">Hogar</span>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>