  #app-register {
    left: 0;
    top: 0;
    background-color:#4b3838;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .card-login{
    position: relative;
    display: flex;
    z-index: 1;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 3px 9px 12px 3px rgba(0, 0, 0, 0.11), 0 5px 14px 0 rgba(0, 0, 0, 0.1);
  }
  * {
    box-sizing: border-box;
  }
  html,
  body {
    background: #4b3838!important;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .custom-form {
    min-width: 300px;
    max-width: 60%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
  /*  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;*/
    color: black;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .custom-form input {
    display: block;
    margin: 1rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.8rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
  }
  .custom-form select {
    display: block;
    margin: 1rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.8rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #aa1111;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    margin-top: 2rem
  }
  
  .subtitulo-form{
    font-size: 15px;
    color: rgb(104, 92, 92)!important;
  }
  
  .width-part{
    width: 49%
  }

  .btn-blue {
    background-color: #aa1111;
    color: white;
    cursor: pointer;

      hover:not([disabled]) {
        background-color: #aa1111;
      }

      disabled {
        opacity: 0.65;
        cursor: default;
      }

      focus:not([disabled]) {
        outline: 0;
        box-shadow: 0 0 0 0.2rem var(--orange-si-transparent-50);
      }
      
  }

  .br-1{
    border-radius: 0.25rem;
  }
  
  @media (max-width: 600px){
    .custom-form {
      min-width: 350px;
      margin-top: 4rem;
      margin-bottom: 3rem;
      padding: 2rem 2rem;
    }
  
    .subtitulo-form{
      font-size: 16px;
    }
  
    .width-part{
      width: 100%
    }
  }