.margin-container{
	margin-top: 9%
}

.bloque-activity{
	background-color: white;
}

.bloque-activity:hover{
	background-color: gray;
}

td{
	font-size: 14px
}

th{
	font-size: 14px
}

.size-icons{
	font-size: 3vw;
}

.icono-equis{
    position: absolute;
    color: gray;
    right: 0;
    font-size: 20px;
    display: none;
}

.foto-perfil{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
}

.tamaño-imagen{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.imagen-perfil-modal{
	width: 300px;
	height: auto;
}

::ng-deep .modal-mt .modal-dialog { 
     margin-top: 10rem
}

/*@media (max-width: 800px){
	.w-50 {
	    width: 100%!important;
	}
}*/

.margin-container{
	margin-top: 9%
}

@media (max-width: 600px){

	::ng-deep .modal-mt .modal-dialog { 
	     margin-top: 1rem
	}

	.foto-perfil{
		width: 90px;
		height: 90px;
	}


	.imagen-perfil-modal{
		width: 100%;
	}

	.tamaño-imagen{
		width: 90px;
		height: auto;
	}
}

@media (max-width: 321px){
	.responsive-280{
		font-size: 18px;
	}

	.margin-container{
		margin-top: 0px
	}

	.foto-perfil{
		width: 70px;
		height: 70px;
	}

	.tamaño-imagen{
		width: 70px;
		height: auto;
	}
}


@media (max-width: 290px){
	.responsive-280{
		font-size: 16px;
	}
}